
@{
    ViewBag.Title = "LoggedIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Logged In</h2>
<div>
    @Html.ActionLink("Manage Volunteers", "ManageVol", "volunteers")
</div>
<div>
    @Html.ActionLink("Manage Opportunities", "ManageOpp", "OppTables")
</div>