@{
    ViewBag.Title = "ChangeFilter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Filter</h2>
<div>
    @Html.ActionLink("a.	a.	Most Recent (60 days)", "Mostrecent", "SearchOpp")
</div>
<div>
    @Html.ActionLink("b.	b.	By Center", "ByCenter", "SearchOpp")
</div>
