@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One VMS Way<br />
    Redmond, FL 55555-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@vms.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@vms.com</a>
</address>