@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Volunteer Management System</h1>
    <p class="lead">A system created for Senior Project Pre-semester Homework</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Log In</h2>
      
        @Html.ActionLink("Log In", "Login", "Account")
    </div>
</div>