
@{
    ViewBag.Title = "ChangeFilter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Filter</h2>

<p>a.	Approved/Pending Approval (volunteers in both approval statuses are included)</p>
<p>b.	Approved</p>
<p>c.	Pending Approval</p>
<p>d.	Disapproved</p>
<p>e.	Inactive</p>
<p>f.	All</p>
